<body>
  <section>
  <div class="container">
<div class="form_content">
  <h1>Sign Up</h1>
  <div class="paragraph">
    <p><u>privacy policy & terms of service</u></p>
  </div>
</div>



<div class="login_form">
    <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
<form>
  
  <label>USERNAME</label>
  <input type="text" name="" required="" placeholder="KS Arts">
  <label>E-MAIL</label>
  <input type="email" name="" required="" placeholder="Scherbina.art@gmail.com">
  <label>PASSWORD</label>
  <input type="password" name="" required="" placeholder="......">
  <label>REPEAT PASSWORD</label>
  
<input type="password" name="" required="" placeholder="......">
  
<input type="submit"  class ="inline" name="" value="Get Started">
<h6 class="inline"> or</h6>
<a href="#" class="inline"> sign in</a>

<br class="clearFloat">
  
  


 
</form>


</div>
  </div>
  </section>
</body>







